In [91]:
import pandas as pd
import numpy as np
import yfinance as yf

In [92]:
# Load Bitcoin data from Yahoo Finance
btc_usd_ticker = 'BTC-USD'
eth_usd_ticker = 'ETH-USD'
sp500_ticker = '^GSPC'
vix_ticker = '^VIX'
gold_ticker = 'GC=F'
# Load data from Yahoo Finance
btc_data = yf.download(btc_usd_ticker, start="2010-01-01", end="2025-01-01")
eth_data = yf.download(eth_usd_ticker, start="2010-01-01", end="2025-01-01")
sp500_data = yf.download(sp500_ticker, start="2010-01-01", end="2025-01-01")
vix_data = yf.download(vix_ticker, start="2010-01-01", end="2025-01-01")
gold_data = yf.download(gold_ticker, start="2010-01-01", end="2025-01-01")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [93]:
# Remove the ticker level from the columns
btc_data.columns = btc_data.columns.droplevel(1)
eth_data.columns = eth_data.columns.droplevel(1)
sp500_data.columns = sp500_data.columns.droplevel(1)
vix_data.columns = vix_data.columns.droplevel(1)
gold_data.columns = gold_data.columns.droplevel(1)

In [94]:
btc_df = pd.DataFrame(btc_data)
eth_df = pd.DataFrame(eth_data)
sp500_df = pd.DataFrame(sp500_data)
vix_df = pd.DataFrame(vix_data)
gold_df = pd.DataFrame(gold_data)

In [95]:
btc_df

Price,Close,High,Low,Open,Volume
Date,,,,,
2014-09-17,457.334015,468.174011,452.421997,465.864014,21056800
2014-09-18,424.440002,456.859985,413.104004,456.859985,34483200
2014-09-19,394.795990,427.834991,384.532013,424.102997,37919700
2014-09-20,408.903992,423.295990,389.882996,394.673004,36863600
2014-09-21,398.821014,412.425995,393.181000,408.084991,26580100
...,...,...,...,...,...
2024-12-27,94164.859375,97294.843750,93310.742188,95704.976562,52419934565
2024-12-28,95163.929688,95525.898438,94014.289062,94160.187500,24107436185
2024-12-29,93530.226562,95174.875000,92881.789062,95174.054688,29635885267
2024-12-30,92643.210938,94903.320312,91317.132812,93527.195312,56188003691
2024-12-31,93429.203125,96090.601562,91914.031250,92643.250000,43625106843

In [96]:
eth_df

Price             Close         High          Low         Open       Volume
Date
2017-11-09   320.884003   329.451996   307.056000   308.644989    893249984
2017-11-10   299.252991   324.717987   294.541992   320.670990    885985984
2017-11-11   314.681000   319.453003   298.191986   298.585999    842300992
2017-11-12   307.907990   319.153015   298.513000   314.690002   1613479936
2017-11-13   316.716003   328.415009   307.024994   307.024994   1041889984
...                 ...          ...          ...          ...          ...
2024-12-27  3328.916992  3436.710693  3302.575684  3331.053711  24091627403
2024-12-28  3397.902344  3419.920166  3318.033936  3328.774658  14305648523
2024-12-29  3349.513428  3406.648438  3321.664795  3397.862549  13440907792
2024-12-30  3356.392578  3428.527344  3298.804443  3349.585938  26981583962
2024-12-31  3332.531738  3444.396729  3311.412598  3356.394775  20845452085

[2610 rows x 5 columns]

In [97]:
sp500_df

Price             Close         High          Low         Open      Volume
Date
2010-01-04  1132.989990  1133.869995  1116.560059  1116.560059  3991400000
2010-01-05  1136.520020  1136.630005  1129.660034  1132.660034  2491020000
2010-01-06  1137.140015  1139.189941  1133.949951  1135.709961  4972660000
2010-01-07  1141.689941  1142.459961  1131.319946  1136.270020  5270680000
2010-01-08  1144.979980  1145.390015  1136.219971  1140.520020  4389590000
...                 ...          ...          ...          ...         ...
2024-12-24  6040.040039  6040.100098  5981.439941  5984.629883  1757720000
2024-12-26  6037.589844  6049.750000  6007.370117  6024.970215  2904530000
2024-12-27  5970.839844  6006.169922  5932.950195  6006.169922  3159610000
2024-12-30  5906.939941  5940.790039  5869.160156  5920.669922  3433250000
2024-12-31  5881.629883  5929.740234  5868.859863  5919.740234  3128350000

[3774 rows x 5 columns]

In [98]:
vix_df

Price           Close       High        Low       Open  Volume
Date
2010-01-04  20.040001  21.680000  20.030001  21.680000       0
2010-01-05  19.350000  20.129999  19.340000  20.049999       0
2010-01-06  19.160000  19.680000  18.770000  19.590000       0
2010-01-07  19.059999  19.709999  18.700001  19.680000       0
2010-01-08  18.129999  19.270000  18.110001  19.270000       0
...               ...        ...        ...        ...     ...
2024-12-24  14.270000  17.040001  14.270000  16.969999       0
2024-12-26  14.730000  15.930000  14.550000  14.990000       0
2024-12-27  15.950000  18.450001  15.290000  15.380000       0
2024-12-30  17.400000  19.219999  16.440001  17.209999       0
2024-12-31  17.350000  17.809999  16.680000  17.389999       0

[3774 rows x 5 columns]

In [99]:
gold_df

Price             Close         High          Low         Open  Volume
Date
2010-01-04  1117.699951  1122.300049  1097.099976  1117.699951     184
2010-01-05  1118.099976  1126.500000  1115.000000  1118.099976      53
2010-01-06  1135.900024  1139.199951  1120.699951  1135.900024     363
2010-01-07  1133.099976  1133.099976  1129.199951  1133.099976      56
2010-01-08  1138.199951  1138.199951  1122.699951  1138.199951      54
...                 ...          ...          ...          ...     ...
2024-12-24  2620.000000  2620.000000  2609.500000  2613.000000      35
2024-12-26  2638.800049  2638.800049  2627.899902  2628.500000      84
2024-12-27  2617.199951  2617.699951  2616.399902  2617.699951     642
2024-12-30  2606.100098  2626.899902  2597.000000  2620.699951     794
2024-12-31  2629.199951  2629.199951  2604.899902  2608.399902     401

[3771 rows x 5 columns]

In [100]:
# Check for missing values
print(btc_df.isnull().sum())
print(eth_df.isnull().sum())
print(sp500_df.isnull().sum())
print(vix_df.isnull().sum())

Price
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64
Price
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64
Price
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64
Price
Close     0
High      0
Low       0
Open      0
Volume    0
dtype: int64

In [101]:
btc_df['Return'] = btc_df['Close'].pct_change()
eth_df['Return'] = eth_df['Close'].pct_change()
sp500_df['Return'] = sp500_df['Close'].pct_change()
vix_df['Return'] = vix_df['Close'].pct_change()
gold_df['Return'] = gold_df['Close'].pct_change()

In [102]:
btc_df.dropna(subset=['Return'], inplace=True)
eth_df.dropna(subset=['Return'], inplace=True)
sp500_df.dropna(subset=['Return'], inplace=True)
vix_df.dropna(subset=['Return'], inplace=True)
gold_df.dropna(subset=['Return'], inplace=True)

In [103]:
# Date to column
btc_df.reset_index(inplace=True)
eth_df.reset_index(inplace=True)
sp500_df.reset_index(inplace=True)
vix_df.reset_index(inplace=True)
gold_df.reset_index(inplace=True)

RangeIndex(start=0, stop=3758, step=1)

In [107]:
# Save to file
btc_df.to_csv('../data/btc_data.csv', index=False)
eth_df.to_csv('../data/eth_data.csv', index=False)
sp500_df.to_csv('../data/sp500_data.csv', index=False)
vix_df.to_csv('../data/vix_data.csv', index=False)
gold_df.to_csv('../data/gold_data.csv', index=False)

In [105]:
btc_df

Price,Date,Close,High,Low,Open,Volume,Return
0,2014-09-18,424.440002,456.859985,413.104004,456.859985,34483200,-0.071926
1,2014-09-19,394.795990,427.834991,384.532013,424.102997,37919700,-0.069843
2,2014-09-20,408.903992,423.295990,389.882996,394.673004,36863600,0.035735
3,2014-09-21,398.821014,412.425995,393.181000,408.084991,26580100,-0.024659
4,2014-09-22,402.152008,406.915985,397.130005,399.100006,24127600,0.008352
...,...,...,...,...,...,...,...
3753,2024-12-27,94164.859375,97294.843750,93310.742188,95704.976562,52419934565,-0.017022
3754,2024-12-28,95163.929688,95525.898438,94014.289062,94160.187500,24107436185,0.010610
3755,2024-12-29,93530.226562,95174.875000,92881.789062,95174.054688,29635885267,-0.017167
3756,2024-12-30,92643.210938,94903.320312,91317.132812,93527.195312,56188003691,-0.009484
3757,2024-12-31,93429.203125,96090.601562,91914.031250,92643.250000,43625106843,0.008484